.animation-scale1{
    transition: all ease-in-out 0.2s;
}
    .animation-scale1:hover{
        transform: scale(102%);
    } 
.animation-scale2{
    transition: all ease-in-out 0.2s;
}
    .animation-scale2:hover{
        transform: scale(115%);
    } 