/* ---------------BACKGROUND DE LOS HEADER---------- */
header nav,header section,body section,footer{
    padding: 0.5vh 5vh;
}
.headerIndex{
    background-image: url(../img/chica/chica_aro_1.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center right;
	height: 100vh;
}
.headerEventos{
    background-image: url(../img/eventos/evento1.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center top;
}
.headerNos{
    background-image: url(../img/taller/taller_diamante.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;
	height: 100vh;
}
.header404{
    background-image: url(../img/404/404_1.png);
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.headerTienda{
    background-image: url(../img/chica/chica_aro_anillo.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center top;
}
.headerContacto{
    background-image: url(../img/contacto/contacto.jpg);
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
}