@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

/*----font family----*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif; 
}

/*-----------------------||color text||-------------*/
h1,h2,h3{
    color: #5a5344;
}
h4{
    color:   #7e7561 ;  
}
p{
    color:  #7e7561; 
}
.a{
    color: #7e7561;
}

.text-sec{
    color:#7e7561;
}

.bg-cita{
    background-color: #e7e3dfb9;
}

// /* font-size (tamaño tipografia)----------------------------- */
// .size14{
//     font-size: 14px;
// }
// .size16{
//     font-size: 16px;
// }
// .size18{
//     font-size: 18px;
// }
// .size20{
//     font-size: 20px;
// }
// .size22{
//     font-size: 22px;
// }
// .size28{
//     font-size: 28px;
// }
// .size30{
//     font-size: 30px;
// }